html{
    height: 100%;
}

body{
    min-height: 100%;
    background-color: #F6F6F2;
}

img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

img:hover {
    filter: grayscale(0%);
}


p{
    width: 100%;
    max-height: 100px;
    overflow:hidden;
    text-overflow:ellipsis;
}

h3{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.background{
    background-color: #BADFE7;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --btn-bg: #6FB3B8;
    --btn-hover: #5F9A9E;
    --btn-active: #5F9A9E;
    --btn-text: white;
}

.nav-link{
    color: black;
    --bs-nav-link-hover-color:  White;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--btn-text);
    --bs-btn-bg: var(--btn-bg);
    --bs-btn-border-color: var(--btn-bg);
    --bs-btn-hover-color: var(--btn-text);
    --bs-btn-hover-bg: var(--btn-hover);
    --bs-btn-hover-border-color: var(--btn-hover);
    --bs-btn-focus-shadow-rgb: var(--btn-active);
    --bs-btn-active-color: var(--btn-text);
    --bs-btn-active-bg: var(--btn-active);
    --bs-btn-active-border-color: var(--btn-active);
}

